/* Add your CSS to this file */

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, "Noto Sans", sans-serif;
    font-size: 18px;
}

.container {
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
    padding: 0 20px;
}

header {
    background-color: white;
    font-size: 18px;
    padding: 20px 0;
}

/* header h1 {
    margin: 0;
} */

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 10px;
}

li a {
    text-decoration: none;
    color: #6b7280;
    font-weight: bold;
    padding: 10px;

}

li a:hover {
    color: #5A67D8;
}

.overview-hero {
    background-color: #E2E8F0;
    padding: 60px 0;

}

.overview-hero-image img {
    width: 200px;
    height: auto;
}

.overview-hero .container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 40px;

}

.overview-hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.learn-about {
    padding: 60px 0;
}

.learn-about h2 {
    font-size: 24px;
    color: #48BB78;
    margin-top: 0px;
    margin-bottom: 40px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.card {
    display: flex;
    flex-direction: column;
    border-color: #E2E8F0;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.card-body {
    padding: 20px;
}

.card-body h3 {
    color: #48BB78;
    font-size: 21px;
}

.card img {
    width: 100%;
    height: 200px;
    display: block;
}

.testing {
    background-color: #4A5568;
    color: white;
    padding: 60px 0;
}


.testing .container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px 20px;
}

.testing-decription {
    flex: 1;
}

.cta {
    margin-left: 20px;
    
}

.cta a {
    background-color: #48BB78;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    display: inline-block;
    text-transform: capitalize;
}

.stories h2{
    color: #5A67D8;
}


.stories article {
    display: flex;
    gap: 20px;
    margin-bottom: 40px;
}

.stories article img {
    width: 200px;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
    flex-shrink: 0;
}

.article-body {
    flex: 1;
}
.article-body h3 {
    font-size: 18px;
}

.article-body a {
    text-decoration: none;
    color: #5A67D8;
    font-weight: bold;
}

.newsletter {
    text-align: center;
    background-color: #48BB78;
    color: white;

}

form button {
    background-color: #5A67D8;
    border: none;
    color: white;
    padding: 10px 20px;
}

.newsletter .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
}

.newsletter form {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.newsletter input[type="email"] {
    padding: 10px;
    width: 300px;
}

footer{
    text-align: left;
    padding: 20px;
    background-color: #4A5568;
    color: white;
}